<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">解答</h1>
    <div class="form users-form">
      <div class="form-body">
        <div　class="answer">
          <img src="<%= @pic %>" width="300" height="100">
        </div>
        <%= @quiz_comment %>
        <br />
        <% if @result_count >= 10  && session[:user_id] || @result_count >= 5 && !session[:user_id]  %>
          <%= link_to "結果発表へ", kekka_contents_path,class: "result" %>
          <% else %>
          <%= link_to "次の問題へ", contents_path,class: "next" %>
          <% end %>
      </div>
    </div>
  </div>
</div>