<div class="main users-edit">
  <div class="container">
    <div class="form-heading">問題</div>
    <div class="form users-form">
      <div class="form-body">
        <%=  @quiz_comment %>
        <%= link_to("次の問題へ", "/index") %>
      </div>
    </div>
  </div>
</div>