<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">問題</h1>
    <div class="form users-form">
      <div class="form-body">
          ジャンル「<%= @quiz %>」
      </div>
    </div>
  </div>
</div>