<div class="main users-new">
  <div class="container">
    <h1>Sign up</h1>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input type="password" name="password">
          <input type="submit" value="新規登録" class = "btn btn-primary">
        <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>