<script src="https:///use.fontawesome.com/926fe18a63.js"></script>
<section class="conA">
<div class="container">
  <img src="img/logo.svg" alt="">
  <h1>Fish＆Quiz</h1>
  <p>楽しくおサカナを勉強</p>
  <%= link_to "はじめる", quizzes_path, class: "btns" %>
</div>
</section>
