<section class="conA">
<div class="container">
  <img src="img/logo.svg" alt="">
  <h1>FishQuiz</h1>
  <p>Enjoy learning Fish!</p>
  <%= link_to "START", quizzes_path, class: "btns" %>
</div>
</section>
<section class="conB">
<div class="container">
  <div class="text">
    <span class="fa fa-bar-chart icon"></span>
    <h2>ライフログって何？</h2>
    <p>日常のあれこれを記録していくライフログ。
    いろいろなものが見えてきます。</p>
    <a href="#">MORE...
    <span class="fa fa-chevron-right"></span></a>
  </div>

  <div class="text">
    <span class="fa fa-gears icon"></span>
    <h2>必要なのはスマホだけ</h2>
    <p>ライフログを始めるのに必要なのはスマホだけ。
    いつでもスタートできます。</p>
    <a href="#">MORE...
    <span class="fa fa-chevron-right"></span></a>
  </div>

  <div class="text">
    <span class="fa fa-rocket icon"></span>
    <h2>SNSとの連携も簡単</h2>
    <p>TwitterやFacebookといったSNSと連携して、
    簡単にログを共有することができます。</p>
    <a href="#">MORE...
    <span class="fa fa-chevron-right"></span></a>
  </div>
</div>
</section>
