<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<script src="https:///use.fontawesome.com/926fe18a63.js"></script>
<section class="conA">
<div class="container">
  <img src="img/logo.svg" alt="">
  <h1>FishQuiz</h1>
  <p>楽しくおさかなを勉強</p>
  <%= link_to "はじめる", quizzes_path, class: "btns" %>
</div>
</section>
