<!--topのviewページがワンスクロール効かないので、layoutのtopのviewを使用中-->
<div class="main">
    <section class="page1">
      <div class="contents">
        <h1>クイズを、はじめましょう!</h1>
	      <p>なにも、学問や雑学だけがクイズではありません。</p>
	      <p>映画、音楽、建築、芸術、文学の5ジャンルから出題されるクイズです。</p>
        <%= link_to "はじめる", '/index', class: "btns" %>
      </div>
    </section>
    <section class="page2">
      <div class="contents">
        <h1>カップ麺ができるよりはやく解けます。</h1>
        <p>だいじなお時間は取らせません。 問題を解いて、お友達にシェアしましょう！</p>
        <p>登録をすると、問題の投稿ができたり、解ける問題が増えます！</p>
      </div>
    </section>
    <section class="page3">
      <div class="contents">
        <h1>簡単でしょう？</h1>
        <p>さぁ、さっそくはじめてみましょう！</p>
        <%= link_to "はじめる", '/index', class: "btns" %>
      </div>
    </section>
</div>