<section class="conA">
<div class="container">
  <img src="img/logo.svg" alt="">
  <h1>FishQuiz</h1>
  <p>Enjoy learning Fish!</p>
  <%= link_to "START", quizzes_path, class: "btns" %>
</div>
</section>
