/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.main section.page1 {
  background: #00649F;
  color:white;
  text-align:center;
  .contents {
      margin: 400px auto;
      padding: 0;
      margin-bottom: 15px;
    }
}

.main section.page2 {
  background: #01AAC1;
  color:white;
  text-align:center;
  .contents {
      margin: 400px auto;
      padding: 0;
      margin-bottom: 15px;
    }
}

.main section.page3 {
  background: #ABCDCB;
  color:white;
  text-align:center;
  .contents {
      margin: 400px auto;
      padding: 0;
      margin-bottom: 15px;
    }
}


.btns {
  clear: both;
  width: 435px;
}