/*
プロフィール画像を丸く切り取る
*/
.prof {
    border-radius: 150px;
}

.user {
  text-align: center;
}

/* フォーム */

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 450px;
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/kumanomi.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	color: var(--text-bright-color);
	text-align: center;
}

.form input {
  width: 100%;
  border: 0.5px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
  outline: 0;
}

.form input[type="submit"] {
  background-color: #2B5565;
  color: white;
  cursor: pointer;
  font-weight: 100;
  width: 111%;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  text-align: center;
  border: none;
}

.form-error {
  width: 110%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
