<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="conrainer" >
    <%= link_to("Q", "/",id: "logo") %>
  </div>
  <%#= ログイン時 
  <ul class="nav navbar-nav navbar-right">
    <li>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <% @current_user.name =>
      	<span class="caret"></span>
      	</button>
      	<ul class="dropdown-menu" role="menu">
      	  <li role="presentation"><a href="#">マイページ</a></li>
      	  <li role="presentation"><a href="#">アカウント設定（問題作成）</a></li>
          <li role="presentation"><a href="#">ログアウト</a></li>
        </ul>
      </div>
    </li>
  </ul>
  %>
  <%#= ゲスト時 
            <li>
        link_to("新規登録", "/signup") 
      </li>
      <li>
         link_to("ログイン", "/login") 
      </li>
  %>
</header>